<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Chiqs Server</title>
    <style>
        body{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container{
            height: 80%;
            width: 50%;

        }
        .logo, .line{
            text-align: center;
        }
        .info{
        
            height: 300px;
            width: 50%;
            padding-left: 25%;
        }
        .display{
            display: flex;
            justify-content: center;
            align-content: center;
            height: 50px;
            background-color: silver;
        }
        .screen{
            margin-top: 2px;
            height: 45px;
            width: 95%;
            background-color: #fff;
            border-radius: 2px;
            text-align: right;
            display: flex;
            justify-content: flex-end;
            align-items:center;
        }
        .button{
            display: flex;
            background-color: blue;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
       
        .refresh{
            text-decoration: none;
            color: white;
            border: 1px solid white;
            padding: 1em;
            border-radius: 10px;
        }
    </style>
</head>
<body>
     <div class= "container">
        <nav>
            <h1 class="logo">SmartChiqs</h1>
            <h3 class="line">Welcome to the number one chiq care platform</h2>
        </nav>
        <div class="info">
            <div class="display">
                <div class="screen"><span class="temp"></span> deg</div>
            </div>
            <div class="button">
                <a href="/" class="refresh">Refresh</a>
            </div>
        </div>
     </div>
</body>
</html>